Host primrose-jump
	Hostname 54.150.31.71
	User ubuntu
	IdentityFile ../../pub-keys/primrose_global_ed25519.pub
	ProxyJump csjumphost
	ControlPath ~/.ssh/master-%r@%h:%p.socket
	
Host primrose-backend
	Hostname 10.0.0.100
	StrictHostKeyChecking no	
	User ubuntu	
	ProxyJump primrose-jump
	IdentityFile ../../pub-keys/primrose_global_ed25519.pub
	
Host primrose-testbackend
	Hostname 10.0.0.200
	StrictHostKeyChecking no	
	User ubuntu	
	ProxyJump primrose-jump
	IdentityFile ../../pub-keys/primrose_global_ed25519.pub

Host primrose-tyo1
	Hostname 10.8.9.80
	StrictHostKeyChecking no	
	User ubuntu	
	ProxyJump primrose-jump
	IdentityFile ../../pub-keys/primrose_global_ed25519.pub

Host prod-primrose-jump
	Hostname 13.215.168.101
	User ubuntu
	IdentityFile ../../pub-keys/primrose_prod_global_ed25519.pub
	ProxyJump jumphost
	ControlPath ~/.ssh/master-%r@%h:%p.socket
	
Host prod-primrose-backend
	Hostname 10.0.0.100
	StrictHostKeyChecking no	
	User ubuntu	
	ProxyJump prod-primrose-jump
	IdentityFile ../../pub-keys/primrose_prod_global_ed25519.pub
	
Host prod-primrose-ldn1
	Hostname 10.2.0.10
	StrictHostKeyChecking no	
	User ubuntu	
	ProxyJump prod-primrose-jump
	IdentityFile ../../pub-keys/primrose_prod_global_ed25519.pub
